<h1 align="center">Listagem de Profissionais - Clinica {{nome}}</h1><hr/>

<a href="{{URL}}/clinic/profissionais/cadastrar/{{id}}">
    <button class="btn btn-success">Cadastrar Profissional Na Clinica {{nome}}</button> 
</a>
<hr/>

{{status}}

<table class="table table-light table-striped text-center">
    <thead>
        <tr>
            <th>Nome</th>
            <th>E-mail</th>
            <th>Telefone</th>
            <th>Acoes</th>
        </tr>
    </thead>
    <tbody>
        {{profissionais}}
    </tbody>
</table>