<tr>
    <td> {{nome}} </td>
    <td> {{tipo}} </td>
    <td> {{raca}} </td>
    <td> {{cor}} </td>
    <td> {{peso}} </td>
    <td> {{altura}} </td>
    <td> {{idade}} </td>
    <td> {{responsavel}} </td>
    <td>
        {{atendimento}}
        <a href="{{URL}}/animal/responsavel/listar/{{id}}">
            <button class="btn btn-primary">Ver Responsaveis</button>
        </a>
        <a href="{{URL}}/animal/editar/{{id}}">
            <button class="btn btn-primary">Editar</button>
        </a>
        <a href="{{URL}}/animal/remover/{{id}}">
            <button class="btn btn-danger">Excluir</button>
        </a>
    </td>
</tr>