<div class="modal fade text-dark" id="modalVacina" tabindex="-1" aria-labelledby="modalVacinaLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalVacinaLabel">Adicionar aplicacao de vacina</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="vacina" class="col-form-label">Vacina:</label>
              <select name="vacina" id="vacina" class="form-select">
                {{vacinas}}
              </select>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" onclick="adicionarAplicacao({{idAtendimento}})">Adicionar</button>
        </div>
      </div>
    </div>
</div>

<script>
    async function adicionarAplicacao(idAtendimento){
        let vacina = document.querySelector('#vacina').value;

        const headers = new Headers({
            'X-Requested-With': 'XMLHttpRequest',
            'Accept': 'application/json',
		});

        const formData = new FormData();
        formData.append('atendimento', idAtendimento);
        formData.append('vacina', vacina);

        let request = await fetch('{{URL}}/atendimentovacina/criar', {
            method: 'POST',
            body: formData,
            headers: headers,
            credentials: 'same-origin'
        });

        let response = await request.json();
        
        if(typeof response === 'object' && response.hasOwnProperty('url')){
            window.location.href = response.url;

        } else {
            alert('Houve um erro ao tentar adicionar a aplicacao');
        }
    }
</script>